@keyframes example {
    from {content: none;}
    to {content :url('../../images/down.png');}
  }


.landing-container {
    // background-image: ;
    // background-size: cover;
    width: 100%;
    height: 722px;
    background: no-repeat center right fixed url('../../images/Landing.jpg');
    background-image: url('../../images/Landing.jpg');
    background-position-x: right;
    background-position-y: center;
    background-size: cover;

    .scroll-down{
        height: 80px;
        width: 110px;
        display: block;
        position: relative;
        bottom: -469px;
        left:67px;
        background-color: #222222;
        text-align: center;
        z-index: 6;

        .arrow{
            // padding-top: 20px;
            animation-name: example;
            animation-duration: 3s;
            animation-timing-function: ease-out;
            animation-iteration-count: infinite;
            animation-direction: normal;

        }
    }
    
    
    .overlay{
        background-color:rgb(41 18 18 / 30%);
        height: 722px;
        flex: 1 -1 auto;
        align-items: center;
        justify-content: center;

    }

    .name-container{
        position: relative;
        top: 24%;
        z-index: 4;
        text-align: center;
        opacity: 0.6;

        &:hover {
            cursor: pointer;
            opacity: 100%;
        }
        
        h1{
            padding-bottom: 20px;
            border-bottom: 1px solid #FFFFFF;
            border-bottom-color:rgb(255 255 255 / 37%);
            display: inline-block;
            margin-bottom: -10px;
            font-family: 'Julius Sans One', sans-serif;
           
        }

        h4{
            font-family: 'Julius Sans One', sans-serif;
            font-size: 16px;
        }
    }


}